<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <h1>Zarejestrowano pomyślnie</h1>

    <p>Dane przekazane w formularzu:</p>

    <table class="table">
        <tr>
            <td>Imię</td>
            <td th:text="${formData.firstName}"></td>
        </tr>
        <tr>
            <td>Nazwisko</td>
            <td th:text="${formData.surname}"></td>
        </tr>
        <tr>
            <td>Adres</td>
            <td th:text="${formData.address}"></td>
        </tr>
        <tr>
            <td>Kod pocztowy</td>
            <td th:text="${formData.postalCode}"></td>
        </tr>
        <tr>
            <td>Miasto</td>
            <td th:text="${formData.city}"></td>
        </tr>
        <tr>
            <td>Adres email</td>
            <td th:text="${formData.email}"></td>
        </tr>
        <tr>
            <td>Hasło</td>
            <td th:text="${formData.password}"></td>
        </tr>
        <tr>
            <td>Zgoda na regulamin</td>
            <td th:text="${formData.termsAgreement}"></td>
        </tr>
    </table>


</div>
</body>
</html>
